extends templates/base.pug

mixin generateUser(user, isPrimary)
  h2
    | #{user.userData.email}
    if isPrimary
      small.primary primary
  each claim in user.claims
    kx-claim(data-claim=claim)

block js
  script(type='application/javascript' src='/static/dialog-polyfill.js' charset='utf-8')
  script(type='application/javascript' src='/static/openpgp.min.js' charset='utf-8')
  script(type='application/javascript' src='/static/doip.js' charset='utf-8')
  script(type='application/javascript' src='/static/kx-claim.js' charset='utf-8')
  script(type='application/javascript' src='/static/kx-key.js' charset='utf-8')
  script(type='application/javascript' src='/static/scripts.js' charset='utf-8')

block css
  link(rel='stylesheet' href='/static/dialog-polyfill.css')

block content
  script.
    kx = {
      key: {
        url: "!{data.key.fetchURL}",
        object: null
      }
    }

  section.profile.narrow
    noscript
      p Keyoxide requires JavaScript to function.

    dialog#dialog--encryptMessage
      div
        form(method='post')
          textarea.input(name='message' placeholder='Message')
          input(type='submit' name='submit' value='ENCRYPT MESSAGE')
          textarea.output(name='message' placeholder='Waiting for input' readonly)
        form(method="dialog")
          input(type="submit" value="Close")

    dialog#dialog--verifySignature
      div
        form(method='post')
          textarea.input(name='signature' placeholder='Signature')
          input(type='submit' name='submit' value='VERIFY SIGNATURE')
          textarea.output(name='message' placeholder='Waiting for input' readonly)
        form(method="dialog")
          input(type="submit" value="Close")

    #profileHeader.card.card--profileHeader
        a.avatar(href="#")
          img#profileAvatar(src=data.extra.avatarURL alt="avatar")

        p#profileName= data.keyData.users[data.keyData.primaryUserIndex].userData.name
        .buttons
          button(onClick="document.querySelector('#dialog--encryptMessage').showModal();") Encrypt message
          button(onClick="document.querySelector('#dialog--verifySignature').showModal();") Verify signature

    #profileProofs.card
      h2 Key
      kx-key(data-keydata=data.keyData)

      +generateUser(data.keyData.users[data.keyData.primaryUserIndex], true)
      each user, index in data.keyData.users
        unless index == data.keyData.primaryUserIndex
          +generateUser(user, false)
      
